.vscode/
.expo/
.expo-shared/
.idea/
# dependencies
node_modules/
.npm-cache/
package-lock.json
yarn.lock

dist/
web-build/
expo-env.d.ts
*.tgz

# Native
*.psd
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
.env*.local

# typescript
*.tsbuildinfo
PUBLISHING.md
*.log
reviews/